<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
<script>
</script>
<main>
    <div th:replace="~{/cart/view :: shopping_cart}">

    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <div>Purchaser:</div>
            <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
        </div>
        <div class="form-group col-sm-6">
            <div for="">Order date</div>
            <div class="form-control">{{order.createDate | date:'dd-MM-yyyy'}}</div>
        </div>
        <div class="form-group col-sm-12">
            <div for="">Shipping address</div>
            <textarea name="ship" id="" class="form-control" placeholder="" ng-model="order.address" required></textarea>
        </div>
    </div>
    <div class="row">
    </div>
    <button ng-click="order.purchaser()" class="btn btn-primary">Purchaser</button>
</main>
</body>

</html>